header{
    background-color: rgb(245, 245, 245);

}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #b695c0;
    font-size: 1.60em;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header .container{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover{
    color: #b695c0;
}
header .container{
    flex-direction: row;
    justify-content: space-between;
}
header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}
#titulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: black;
    padding: 2px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(https://www.xtrafondos.com/wallpapers/pinos-en-bosque-nevado-en-invierno-4311.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#tema1 .contenedordeimagen{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), url(media/tema1.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
        border-radius: 15%;
}